.amazon {
    margin-left: 10px;
    margin-right: 10px;
    width: 32px; 
    height: 32px; 
}
.flipcart{
    margin-left: 10px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
.shoe{
    width: 700px;  
    height: 430px;
    margin-left: 80px;
}
.Shopping {
    padding: 3px;
    gap: 10px;
}
.hero-content .buttons-shop{
    gap: 10px;
}

